*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
}

.display{
    display: flex;
    width: 300px;
    margin-top: 50px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: orange;
    flex-direction: column;
    border-radius: 20px;
}

.title{
    font-size: 30px;
    color: black;
    padding-bottom: 20px;
}

.usernameStyle {
    /* background-color: blue; */
}

.passwordStyle {
    /* background-color: pink; */
}

.loginStyle {
    background-color: lightgreen;
    border: 0px;
    padding: 4px;
    border-radius: 5px;
}

.login:hover {
    background-color: green;
}