*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.banner{
    color: #E4FABF;
    background-color: #743C07;
    border-radius: 10px;
    border: 2px solid ;
    margin: 20px;
    line-height: 1.5;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.settings{
    position: relative;
    display: inline-block;
}

.menu{
    display: none;
    position: absolute;
    background-color: gray;
    border: 1px solid #ccc;
    min-width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    right: 0;
    top: 100%;
}

.menu ul{
    color: black;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.menu li{
    /* font-size: 0px; */
    white-space: nowrap;
    line-height: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}

.imageContainer{
    position: relative;
    top: 10px;
}

.imageContainer img{
    width: 30px;
    right: 10px;
    top: 10px;
}

.settingsBtn{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.show{
    display: block;
}

.buttons{
    width: 100%;
    position: sticky;
    display: flex;
    margin: 20px;
    align-items: center;
}

.sensorName{
    display: flex;
    align-items: center;
}

.sensorName img{
    width: 10px;
}

.sensorName h1{
    margin: 0;
}

.sensorName button{
    margin-left: auto;
}

.screen{
    display: flex;
    justify-content: row;   
}

.sensorContainer {
    min-width: 250px; /* Set a fixed width for the container */
    max-height: 650px; /* Set a maximum height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sensor {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: darkkhaki;
    cursor: pointer;
    border-radius: 10px;
}

.removeItemButton{
    color: white;
    background-color: olive;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2px;
}

.item.active {
    height: auto;
    border: 1px solid #333;
}

.nameTag{
    height: 28px;
    font-size: 24px;
    max-width: 200px;
    background-color: rgb(119, 114, 39);
    border-width: 0px;
}

.sensorDescription{
    display: flex;
    align-items: center;
}

.sensorDescription img{
    width: 10px;
}

.sensorDescription p{
    margin: 0;
}

.sensorDescription button{
    margin-left: auto;
}

.descriptionTab{
    height: 28px;
    font-size: 24px;
    max-width: 200px;
    background-color: rgb(119, 114, 39);
    border-width: 0px;
}

.display{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.displayName{
    color: white;
    border-radius: 10px;
    border-width: 1px solid gray;
    background-color: rgb(6, 122, 70);
    border: 1px solid gray;
    /* width: 100%; */
    padding: 20px;
    margin: 20px;
}

.displayTabs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 35px;
}

.displayTabs button{
    color: brown;
    border: 1px solid gray;
    border-bottom: 0px;
    width: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.summaryTab{
    background-color: beige;
}

.graphTab{
    background-color: yellowgreen;
}

.detailsTab{
    background-color: yellowGreen;
}

.sensorReadings{
    margin: 20px;
    margin-top: 0px;
    border: 1px solid beige;
    border-radius: 20px;
    background-color: beige;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 35%;
    min-width: 960px;
}

.humidityList{
    padding-top: 20px;
    padding-left: 5px;
}

.batteryLevel{
    padding-top: 20px;
    padding-left: 5px;
}

.graphs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    height: 450px;
    max-width: 1000px;
}

.humGraph{
    height: 450px;
    width: 450px;
}

.batGraph{
    height: 450px;
    width: 450px;
}
